body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    color: #333; 
    background-color: beige;
}

header {
    background-image: url(header.jpg);
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}



h1, h2, h3 {
    color: #2c3e50;
}


#about-hero {
    background-image: url('your-hero-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff; 
    text-align: center;
    padding: 80px 20px;
}


section {
    padding: 40px;
}

#our-story {
    display: flex; 
    align-items: center; 
}

.text-content {
    flex: 1; 
    padding-right: 30px;
}

.image-container {
    flex: 1;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


#our-values ul {
    list-style: disc;
    margin-left: 30px;
}


@media (max-width: 768px) {
    #our-story {
        flex-direction: column; 
    }
}
